.addForm {
    border: 1px solid black;
    width: 350px;
    padding: 15px;
}

.label {
    display: flex;
    flex-direction: column;
}

.input {
    width: 250px;
    
    margin-bottom: 15px;
}

.btn {
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}

.btn:focus,
.btn:hover {
    background-color: teal;
}