.contactItem {
    margin-bottom: 5px;
}

.btn {
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;

    margin-left: 15px;
}

.btn:focus,
.btn:hover {
    background-color: teal;
}